html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.zwei-input {
    width: 100px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border:none;
    border-bottom: 1px #000 solid;
}

.zwei-btn {
    user-select: none;
    -webkit-user-select: none;

    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #346;
    text-align: center;
    transition: background 0.5s ease-in;
    -webkit-transition: background 0.5s ease-in;
}

.zwei-btn:hover {
    background: #000;
    color: #fff;
}

/*消息栏*/
.zwei-prompt {
    position: relative;
    top: 0;
    width: 370px;
    margin: 10px 0;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    cursor: pointer;
    border-radius: 10px;
    border: 2px black solid;
}

.zwei-prompt-title:before, .zwei-prompt-title:after {
    content: " ——————— ";
}

.zwei-prompt-content, .zwei-prompt-title {
    text-align: center;
    word-wrap: break-word;
}

.zwei-prompt-content {
    margin: 20px 7px;
}

/* 三角型 */
div.arrow-up {
    width: 0 !important;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #2f2f2f;
    font-size: 0;
}

.scroll {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.drag-handle {
    position: absolute;
    right: 5px;
    border-radius: 7px;
    width: 5px;
    min-height: 30px;
    background-color: #555;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}